
<% @memes.each_slice(3).each do |group| %>
  <div style="text-align:center" class="row">
  <% group.each do |meme| %>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= image_tag(meme.image.url) %>
          <br>
          <p>by <%= meme.user.username %>
          <form action="/slack/sending" method=GET>
            <input type="hidden" name='text' value= "<%='Sent by ' + current_user.username%> <%= meme.image.url%>">
            <input type="text" name='codeword' placeholder="Code Word">
            <input type="submit" value="Share on Slack">
          </form>
          <br>
          <% if current_user == meme.user %>
            <%= link_to "Delete", meme_path(meme.id), method: :delete %>
          <% end %>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  <% end %>
  </div>
  <br>
<% end %>
