<div class="background">
  <div class="content">
<% @memes.each do |meme| %>
  <div style="text-align:center" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= image_tag(meme.image.url) %>

      <div style="text-align:center;" class="row">
        <div class="col-md-4"></div>
          <div style="text-color:#000000; background-color:#fff" class="col-md-4">
        <h4>by <br><%= meme.user.username %></h4>
        <a style="background-color:#fff;" href="#" id="showSlack">Slack it</a>
        <br>
        <% if current_user == meme.user %>
          <a style="background-color:#fff"><%= link_to "Delete", meme_path(meme.id), method: :delete %></a>
        <% end %>
        </div>
          <div class="col-md-4"></div>
      </div>
      <br>
      <% if current_user %>
        <form id="slackForm" style="display:none" action="/slack/sending" method=GET>
          <input type="hidden" name='text' value= "<%='Sent by ' + current_user.username%> <%= meme.image.url%>">
          <input type="text" name='codeword' placeholder="Code Word">
          <br>
          <input type="submit" value="Share on Slack">
        </form>
        <br>
      <% end %>
  </div>
  <div class="col-md-3"></div>
  </div>
  <br><br>
<% end %>
</div>
</div>
