<div style="text-align:center">
  <%= form_tag("/memes/new", method: "post") do %>
    <%= label_tag(:search, "Search for image:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<% if @images %>
  <% @images.each_with_index do |image,index| %>
    <div style="text-align:center" class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= link_to image_tag(image), memes_path(image_ref: image), method: :post, id: (index).to_s %>
      </div>
      <div class="col-md-3"></div>
    </div>
    <br><br>
  <% end %>
<% end %>
